<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies" lang="{{ shop.locale }}"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    

    {% if template == 'index' %}
      <title>{{ shop.name }} | {{ page_title }}</title>
    {% elsif template == '404' %}
      <title>Page Not Found | {{ shop.name }}</title>
    {% else %}
      <title>{{ page_title }} | {{ shop.name }}</title>
    {% endif %}

    {% if page_description %}
      <meta name="description" content="{{ page_description }}">
    {% endif %}
    
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.81/slick-theme.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    {{ 'style.scss' | asset_url | stylesheet_tag }}
    
    <title>{{ seo_title }}</title>
    {{ content_for_header }}
  </head>

  <body>
    {% section 'header' %}
    {{ content_for_layout }}
    {% section 'footer' %}
    {% comment %}<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>{% endcomment %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick.min.js"></script>
    {{ 'theme.js' | asset_url | script_tag }}
    {% comment %}<script>
      $("document").ready(function(){
        jQuery.getJSON('/cart.js', function(cart) {
              debugger;
              console.log('cartValue', cart);
              alert('The title of this product is ' + cart.token);
            } );
      })
    </script>{% endcomment %}
  </body>
</html>
